a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#contenedor-uno{
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0));*/
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom:1px solid rgb(37, 37, 37);
    height: 7vh;
    position: sticky;
    top:0;
    z-index: 1;
}

#barra-lateral{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0));
    
    background: #212529;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: fixed; /* cambiar a sticky */
    height: 93vh;
    color:white;
    z-index: 0;
}

#box-derecho{
    display: block;
    margin-left: 13%;
    margin-top: 20px;
}

#box-derecho .row{
    margin-bottom: 30px;
}

body{
    background: linear-gradient(194deg, rgba(23,16,33,1) 0%, rgba(19,21,22,1) 100%);
    background-attachment: fixed;
    overflow-x: hidden;  
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
    
.nav {
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: linear-gradient(194deg, rgba(2,67,94,0.23573179271708689) 0%, rgba(32,32,32,1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
  padding-top: 13px;
}
.nav {
  justify-content: space-between;
  position: relative;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  margin-left: 10px; 
  transition: all 0.2s linear;
}

.nav .logo:hover{
    color: #f8346f;
}

.nav .nav-links li:hover a{
    color: #f8346f;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.nav .search-icon:hover{
    color: #f8346f;
}
.nav .search-box{
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
  }
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box .search-form{
    height: 100% !important;
    width: 100% !important;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}

.search-box input {
  height: 100% !important;
  width: 100% !important;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}


.card{
    width: 350px;
    height: 300px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color:black !important;
}

.card-body .btn {
    background: linear-gradient(194deg, rgba(40,18,46,1) 0%, rgba(112,33,98,1) 100%) !important;
    background: white !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: black !important;
    border: 1px solid white !important;
}

.card-body .btn a {
    color: black !important;
    text-decoration: none;
}

.card-body .btn:hover {
    background: linear-gradient(194deg, rgba(141,131,144,1) 0%, rgba(131,84,131,1) 100%) !important;
    background: linear-gradient(194deg, rgba(141,131,144,0.6587009803921569) 0%, rgba(134,8,110,0.10127801120448177) 100%) !important;
}

.card-img-top{
    float: left !important;
    height: 390px;
}

.carousel-item{
    height: 50rem;
    background-color: #777;
    color: white;
    position: relative;

}
.carrusel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size:cover;
    opacity: 0.95;
    image-rendering: -webkit-optimize-contrast;
}

.slider-secundario{
    padding-top: 20px;
    margin-top: 20px !important;
    border-top: 1px solid #333131;
}

.titulo{
    color: white;
    text-align: center;
    font-size: 30px;
}

.carrusel a:hover{
    background-color: #f8346f;
    transition: all ease 0.3s;
    border: 1px solid #f8346f;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 20px;
    margin-top: 50px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .4s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);

}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.1);
	transform-origin: center;
    border-radius: 20px;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
    max-height: 230px;
    min-height: 230px;
    min-width: 400px;
	vertical-align: top;

    padding-right: 28px;
}


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 1600px) {
	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 15px;
	} 

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}


	/* Estilos para max-width: 1000px */
	@media screen and (max-width: 1000px) {
		.peliculas-recomendadas .contenedor-carousel .carousel {
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
		} 
	}

    @media screen and (max-width: 800px) {
		.peliculas-recomendadas .contenedor-carousel .carousel {
			grid-template-columns: repeat(2, 1fr);
			gap: 15px;
		} 
	}

	/* Estilos para max-width: 800px */
	@media screen and (max-width: 600px) {
		.peliculas-recomendadas .contenedor-carousel .carousel {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		} 

		.peliculas-recomendadas .indicadores,
		.peliculas-recomendadas .flecha-izquierda,
		.peliculas-recomendadas .flecha-derecha {
			display: none;
		}

        
	}

    .tarjeta{
        flex-direction: column;
    }
    .tarjeta-imagen{
        min-width: 350px;
    }
}


/* ------------ TARJETAS ------------*/
*{
    font-family: poppins;
    box-sizing: border-box;
}

#slider-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection{
    color: #181818;
    background-color: #fffd6b;
}

.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-top: 10%;
}

.tarjeta-imagen{
    width: 250px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
}
.tarjeta-imagen img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}

.tarjeta-detalles{
    padding: 20px;
    background: linear-gradient(90deg, #202020 20%, #222222);
    width: 350px;
    height: 480px;
    border-radius: 0px 10px 10px 0px;
}

.tarjeta-resumen-pelicula {
    max-height: 300px; /* Establece una altura máxima */
    overflow-y: auto; /* Agrega desbordamiento vertical */
  }

.tarjeta-detalles strong{
    color: #e4e4e4;
    font-size: 1.2rem;
    font-weight: 600;
}

.rating{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.rating i{
    color: #ffdf00;
    margin: 0px 2px;
}

.tarjeta-detalles p{
    color: #8f8f8f;
    font-size: 0.9rem;
    margin: 20px 0px 10px 0px;
    word-break: break-word;
}

.tarjeta-botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tarjeta-botones a{
    min-width: 160px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.9rem;
}

.play-btn{
    background-color: #0d6bf7;  
}

.play-btn i{
    margin-right: 10px;
}

.trailer-btn{
    color: #cecece;
    opacity: 0.8;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #363636;
}

.tarjeta-botones a:hover{
    background-color: #f8346f;
    transition: all ease 0.3s;
    color: #ffffff;
    border: none;
    opacity: 1;
}

.tarjeta-resumen-pelicula::-webkit-scrollbar {
    width: 12px;
  }
  
.tarjeta-resumen-pelicula::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 6px;
}

.tarjeta-resumen-pelicula::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.tarjeta-resumen-pelicula::-webkit-scrollbar-track {
    background-color: #222222;
}

.tarjeta-resumen-pelicula::-webkit-scrollbar-track:hover {
    background-color: #202020;
}

/* ----------------- DETALLES DE LA PELICULA -------------- */
#fila-pelicula {
    background: linear-gradient(194deg, rgba(2,67,94,0.23573179271708689) 0%, rgba(32,32,32,1) 100%);
}


.pelicula-resenia {
    display: block;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: white;
    padding-right: 20px;
    
}
.pelicula-resenia img {
    max-width: 100%; 
    height: auto; 
    display: block; 

}
.contenedor-resumen-pelicula{
    max-height: 220px;
    overflow-y:visible;
    scrollbar-width: thin;
    scrollbar-color: #8f8f8f #222222;
    overflow-x: hidden;
}
.contenedor-resumen-pelicula::-webkit-scrollbar {
    width: 12px;
}

.contenedor-resumen-pelicula::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 6px;
}

.contenedor-resumen-pelicula::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.contenedor-resumen-pelicula::-webkit-scrollbar-track {
    background-color: #222222;
}

.contenedor-resumen-pelicula::-webkit-scrollbar-track:hover {
    background-color: #202020;
}  

.container-banana-puntaje {
    display: flex;
    align-items: center;
}

.estrellas {
    display: flex;
    padding-left: 10px;
}

.estrella-container {
    margin-right: 15px; /* Ajusta el valor según el espacio deseado */
    
}
.estrella-container a{
    font-size: 20px;
}
.container-banana-puntaje h2{
    padding-top: 3px;
}

/* ----------------- ACTORES --------------------------- */
.container-reparto{
    margin-top: 4%;
}

.titulo-reparto h1{
    color: white;
    border-bottom: 1px solid #f8346f;;
    font-size: 35px;
}
.card-actor {
    text-align: center;
    overflow:  hidden;
    padding-bottom: 40px;
  }
  
  .image-wrapper {
    position: relative;
    height: 435px; /* Ajusta la altura según tus necesidades */
  }
  
  .image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #202020 20%, #222222);
    z-index: -1;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin perder proporción */
  }
  

  .actor-name h2 {
    font-size: 25px;
  }
  
  .card-actor:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  .hidden-actor {
    display: none;
}
.reparto-slider {
    position: relative;
}

.reparto-carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: none;
    scroll-behavior: smooth;
    padding-bottom: 30px;
}

.reparto-carousel .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.actor-name {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.089) 0%, rgba(255, 255, 255, 0.048) 50%);
    text-align: center;
    color: white;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-top: 10px;
    height: 55px;
}

.actor-name h2 {
    font-size: 25px;
}

.reparto-carousel::-webkit-scrollbar {
    width: 12px;
}

.reparto-carousel::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 6px;
}

.reparto-carousel::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.reparto-carousel::-webkit-scrollbar-track {
    background-color: #222222;
}

.reparto-carousel::-webkit-scrollbar-track:hover {
    background-color: #202020;
}  

.card-director{
    padding-top: 30px;
}
.card-director img:hover {
    transform: scale(1.1) translateY(-20px) translateX(5px);
    transition: ease-in-out 0.5s;
}
  
/* ----------------- FIN ACTORES --------------------------- */

.detalles-pelicula {
    overflow-x: hidden;
}

.resumen-pelicula {
    position: relative;
    display: flex;
}

.mono-criticon {
    max-width: 1500px;
    height: 800px;
    z-index: 0;
    margin-left: 935px;
}
.resumen-pelicula h1 {
    position: relative;
    line-height: 1;
    z-index: 1;
}

.contenedor-resumen {
    font-size: 31px;
    position: absolute;
    top: 100px;
    background: linear-gradient(90deg, #202020 20%, #222222);
    color: #8f8f8f;
    height: 530px;
    width: 1400px;
    display: block;
    justify-items: first baseline;
    overflow: auto;
    border-radius: 12px;
    z-index: 2;
}

.contenedor-resumen p{
   padding: 10px
}

/* --------- SCROLL ----------*/
.contenedor-resumen::-webkit-scrollbar {
    width: 12px;
}

.contenedor-resumen::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 6px;
}

.contenedor-resumen::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.contenedor-resumen::-webkit-scrollbar-track {
    background-color: #222222;
}

.contenedor-resumen::-webkit-scrollbar-track:hover {
    background-color: #202020;
}

/* ------- CRITICAS Y FORM -------- */


.critica{
    color: white;
    justify-content: left;
    align-items: left;
    background: linear-gradient(90deg, #202020 20%, #222222);
    border-radius: 20px;
    max-height: 420px;
}
.critica-scroll{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #8f8f8f #222222;
    overflow-x: hidden;
}

.container-critica-usuario{
    padding-top: 20px;
}

.critica .contenido-usuario h1{
    font-size: 20px;
}
.critica .contenido-usuario p{
    font-size: 15px;
}

.contenido-usuario h1,
.contenido-usuario p {
  padding-left: 15px;
  padding-top: 5px;
}

.nombre-y-puntaje{
    display: flex;
}

.nombre-y-puntaje a{
    margin-top: 5px;
    padding-left: 10px;
}

.critica img{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
    max-height: 70px;
    max-width: 70px;
}

.contenido-usuario{
    padding-top: 5px;
}

.comment {
    max-height: 3em;
    overflow: hidden;
}

.ver-mas,
.mostrar-menos {
    display: none;
    color:#f8346f;;
    margin-left: 13px;
    margin-top: -10px; /* Ajusta este valor según tu preferencia */
}

.ver-mas:target + .comment,
.mostrar-menos:target + .comment {
    max-height: none;
}

.ver-mas:target {
    display: none;
}

.ver-mas:target ~ .mostrar-menos {
    display: inline;
}

.comment.expandido {
    max-height: none;
}


.critica::-webkit-scrollbar {
  width: 12px;
}

.critica::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 6px;
}

.critica::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.critica::-webkit-scrollbar-track {
  background-color: #222222;
}

.critica::-webkit-scrollbar-track:hover {
  background-color: #202020;
}
  
.nombre-director{
    text-align: left;
}
/* -------------- FORMS --------------*/
.container-form .form-group {
    margin-bottom: 20px;
}
  
.critica-form{
    color: white;
    justify-content: left;
    align-items: left;
    background: linear-gradient(90deg, #202020 20%, #222222);
    border-radius: 20px;
}

.form-group textarea {
    height: 155px; /* Puedes ajustar este valor según tus necesidades */
}

.titulo-resenia{
    font-size: 35px;
}

.titulo-comentarios{
    font-size: 35px;
    padding-left: 15px;
}

.form-critica{
    color: white;
    position: sticky;
}

.container-boton{
    padding-top: 22px;
}

.form-critica .boton-form{
    background-color: #0d6bf7;  
    min-width: 160px;
    height: 38px;
    border-radius: var(--bs-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1rem;
    border: none;
}

.form-critica .boton-form:hover{
    background-color: #f8346f;
    transition: all ease 0.3s;
    color: #ffffff;
    border: none;
    opacity: 1;
}



/* ---------Persona.html-----------*/
.persona-detalles p, .persona-detalles h1{
    color:#FAFAFA;
}
.peliculas-que-actua{
    color:#FAFAFA;
}

/* ---------Fin Persona.html-----------*/

/* --------- Catalogo de peliculas-----------*/
.header-peliculas{
    padding-top: 20px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid #f8346f;
}

.header-peliculas h1{
    font-size: 25px;
    padding-left: 23px;
}

.listado-pelicula{
    color: #FAFAFA;
    display: block;
    
}

.card-pelicula{
    padding-top: 20px;
    position: relative;
}

.card-pelicula-cover {
    position: relative;
    overflow: hidden;
    perspective: 800px;
    transition: transform 0.3s;
    align-items: center;
    justify-content: center;

}

.card-pelicula-cover:hover {
    transform: scale(1.05);
}


.card-pelicula-img {

    display: block;
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
}

.card-pelicula-cover:hover .card-pelicula-img {
    transform: scale(1.1);
}
.card-pelicula-cover:hover .pelicula-name{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
    transform-origin: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-pelicula-overlay {
    position: absolute;
    top:0;
    transform: translate(1%, 1%);
    width: 90%;
    height: 90%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.199) 50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s ease-in-out;
    filter: blur(40px);
    margin-left: 20px;
    margin-top: 20px;
}

.card-pelicula-cover:hover .card-pelicula-overlay {
    opacity: 1;
    transform: translate(0, 0), scale(1.1);
    transition: 0.4s ease-in-out;
}

.pelicula-name {
    opacity: 0;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%;
    height: 23%;
    color: #FAFAFA;
    background: rgba(0, 0, 0, 0.747);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.pelicula-name h2{
    font-size: 22px;
}

/* --------- Fin Catalogo de peliculas-----------*/

/* --------- Catalogo de actores-----------*/
.header-actores{
    padding-top: 20px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid #f8346f;
}

.header-actores h1{
    font-size: 25px;
    padding-left: 42px;
}

.listado-actores{
    color: #FAFAFA;
    display: block;
    scroll-behavior: smooth;
    padding: 40px;
}

.listado-actores .col-md-4{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

/* --------- Fin Catalogo de actores-----------*/


/* --------- Catalogo de directores-----------*/
.header-directores{
    padding-top: 20px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid #f8346f;
}

.header-directores h1{
    font-size: 25px;
    padding-left: 42px;
}

.listado-directores{
    color: #FAFAFA;
    display: block;
    scroll-behavior: smooth;
    padding: 40px;
}

.listado-directores .col-md-4{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

/* --------- Fin Catalogo de directores-----------*/

.dropdown-genero{
    width: 150px;
    color: #FAFAFA;
    background: none;
    text-decoration: none;
    border:none;
    transition: all 0.2s linear;
}

.dropdown-genero .dropdown-genero-opcion{
    color:black;
}

.nav .nav-links .dropdown-genero:hover{
    color: #f8346f;
}