
#contenedor-uno{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom:1px solid rgb(155, 153, 153);
    height: 7vh;
    position: sticky;
    top:0;
    z-index: 1;
}

#contenido-principal{
    height: 100vh;
}

#barra-lateral{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: fixed; /* cambiar a sticky */
    height: 93vh;
    z-index: 0;
}

#box-derecho{
    margin-left: 16.6%;
    display: flex;
    justify-content: center;
    /*background: linear-gradient(0deg, rgba(204, 186, 255, 1) 0%, rgba(185, 203, 254, 0.7455357142857143) 50%, rgba(228, 244, 255, 1) 100%);*/

}

body{
    background: linear-gradient(194deg, rgba(180, 70, 143, 0.932) 0%, rgba(164,117,110,1) 50%, rgb(87, 166, 202) 100%);
}

.header{
    width: 100%;
    background-image: linear-gradient(to_right, #de6262, #ffb88c);
    position: sticky;
    top: 0;
}
  
.navbar-brand{color: white!important;}
.nav-link{color: white!important;}

.buscador{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 1.8% !important;
}

.formulario{
    padding-left: 6px;
    background-color: #fff;
    width: 600px;
    height: 45px;
    display: flex;
}
.formulario input{
    flex: 1;
    background-color: #fff;
    border: none;
    outline: none;

}
.formulario button{
    background: tomato;
    padding: 10px 50px;
    width: 150px;
    height: 46px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.placeholder{
    color:black;
}

.navbar-brand {
    font-size: 30px!important; /* Ajusta el tamaño del texto según tus preferencias */
}

.carousel-inner {
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Ajusta el tamaño máximo del ancho según tus preferencias */
    height: auto; /* Mantiene la proporción de la imagen */
}

/*background: linear-gradient(0deg, rgba(204, 186, 255, 1) 0%, rgba(185, 203, 254, 0.7455357142857143) 50%, rgba(228, 244, 255, 1) 100%); height: calc(100vh - 100px); */

/*background: linear-gradient(0deg, rgba(204, 186, 255, 1) 0%, rgba(185, 203, 254, 0.7455357142857143) 50%, rgba(228, 244, 255, 1) 100%);*/
