{% extends 'master.html' %}

{% block content %}
<form class="form-critica" method="post" action="{% url 'PeliculaView' id=pelicula.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-form form-group mb-3">
        <div class="row">
            <div class="col-md-12">
                <h1 class="titulo-resenia">Escribe tu reseña acerca de la película</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="label_nombre">Nombre:</label>
                <input type="text" id="label_nombre" name="{{ form.nombre.name }}" placeholder="Nombre" value="{{ form.nombre.value }}" class="form-control">
            </div>

            <div class="col-md-6 form-group">
                <label for="label_correo">Correo:</label>
                <input type="text" id="label_correo" name="{{ form.correo.name }}" placeholder="Correo electrónico" value="{{ form.correo.value }}" class="form-control">
            </div>
        </div>
        
        <div class="col-12 form-group">
            <label for="label_critica">Crítica:</label>
            <textarea id="label_critica" name="{{ form.critica.name }}" placeholder="Escribe tu crítica" class="form-control">{{ form.critica.value }}</textarea>
        </div>
        
        <!--  Agrega los campos ocultos "pelicula" y "estado" antes de la sección de botones -->
        <input type="hidden" name="pelicula" value="{{ pelicula.id }}">
        <input type="hidden" name="estado" value="PENDIENTE">

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="label_puntaje">Puntaje:</label>
                <input type="text" id="label_puntaje" name="{{ form.puntaje.name }}" placeholder="Puntaje" value="{{ form.puntaje.value }}" class="form-control">
            </div>
            <div class="col-md-6 form-group container-boton">
                <button type="submit" class="boton-form">Publicar reseña</button>
            </div>
        </div>
        
    </div>
</form>
{% endblock %}
