{% extends 'master.html'%}
{% load static %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay-image" style="background-image:url({% static '../static/imagenes/eldenRing.jpg' %})"></div>
          <div class="container carrusel">
            <h1>Titulo</h1>
            <p>Descripción de la pelicula</p>
            <a href="#" class="btn btn-lg btn-primary">
              Ver reseña
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url({% static '../static/imagenes/avengers-endgame.jpg' %})"></div>
          <div class="container carrusel">
            <h1>Titulo</h1>
            <p>Descripción de la pelicula</p>
            <a href="#" class="btn btn-lg btn-primary">
              Ver reseña
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url({% static '../static/imagenes/mulan-liveAction.jpg' %})"></div>
          <div class="container carrusel">
            <h1>Titulo</h1>
            <p>Descripción de la pelicula</p>
            <a href="#" class="btn btn-lg btn-primary">
              Ver reseña
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url({% static '../static/imagenes/dark-souls-2.jpg' %})"></div>
          <div class="container carrusel">
            <h1>Titulo</h1>
            <p>Descripción de la pelicula</p>
            <a href="#" class="btn btn-lg btn-primary">
              Ver reseña
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url({% static '../static/imagenes/bloodborne.jpg' %})"></div>
          <div class="container carrusel">
            <h1>Titulo</h1>
            <p>Descripción de la pelicula</p>
            <a href="#" class="btn btn-lg btn-primary">
              Ver reseña
            </a>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      
    </div>
{% endblock %}