{% extends 'master.html' %}

{%  load static %}

{% block content %}

    {% include 'header.html' %}

    <div class="container-fluid detalles-pelicula">
        <div id="fila-pelicula" class="row">
            <div class="col-md-7 pelicula-resenia">
                <img src="{{ pelicula.foto.url }}" alt="Imagen de la película" style="width: 1200px; height: 630px;">
            </div>
            <div class="col-md-5 pelicula-resenia">

                <h1>{{ pelicula.nombre }} ({{ pelicula.anio_pelicula }})</h1>
                <div class="contenedor-resumen-pelicula">
                    <p>{{ pelicula.resumen|linebreaksbr }}</p>
                </div>

                <div class="card-director">
                    <a href="{% url 'DirectorView' id_director=director.id %}" onclick="event.stopPropagation();">
                        <img src="{{ director.foto.url }}" alt="Imagen del director" style="width: 130px; height: 190px;">
                    </a>
                    <p class="nombre-director">Director: {{director.nombre}}</p>
                </div>

                <div class="container-banana-puntaje">
                    <h2>Puntaje: </h2>
                    <div class="estrellas">
                        {% for valor in puntaje %}
                            <div class="estrella-container">
                                {% if valor == 'a' %}
                                    <a href="#"><i class="fas fa-star" style="color: yellow;"></i></a>
                                {% else %}
                                    <a href="#"><i class="far fa-star" style="color: grey;"></i></a>
                                {% endif %}
                            </div>
                        {% endfor %}      
                    </div>      
                </div>
            </div>            
        </div>

        {% include 'actores.html' %}   

        <div class="row d-flex">
            <div class="resumen-pelicula">
                <div class="col d-flex">
                    <div class="contenedor-resumen">
                    
                    <p>Mi estimado señor,</br></br>
                        Permítame ofrecerle mi distinguida apreciación de la obra maestra literaria y cinematográfica conocida como "El Señor de los Anillos: La Comunidad del Anillo". Es innegable que esta epopeya, concebida por el venerado autor J.R.R. Tolkien, posee una magnificencia atemporal que cautiva los sentidos y deleita a la mente más refinada.</p>
                    <p>La trama, engalanada con una prosa exquisita y una narrativa hábilmente entrelazada, nos transporta a un mundo de fantasía con una profundidad y riqueza inigualables. Tolkien, con maestría indiscutible, crea un universo vasto y convincente, donde la lucha del bien contra el mal adquiere proporciones épicas. A través de su pluma, se explora el valor de la amistad, el sacrificio desinteresado y la búsqueda de la redención, principios que trascienden las eras y las culturas.</p>
                    </div>
                    <img src="{% static 'imagenes/Mono.png' %}" alt="" class="mono-criticon">
                </div>
            </div>
        </div>
        
        <div class="row">

            <div class="col-6 container-criticas">
                <div class="critica critica-scroll">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="titulo-comentarios">El veredicto de los chimpancés</h1>
                        </div>
                        {% for critica in criticas %}
                            <div class="row container-critica-usuario">
                                <div class="col-md-1 foto-usuario">
                                    <img src="https://img.freepik.com/vector-premium/chimpance-bebe-dibujos-animados-sosteniendo-platano_29190-4734.jpg" alt="user_pic">
                                </div>
                                <div class="col-md-11 contenido-usuario">                         
                                    <h1>{{ critica.nombre }}</h1>
                                    <p class="comment">{{ critica.critica }}</p>
                                    <a href="#" class="ver-mas" onclick="expandirComentario(event)">Ver más</a>
                                    <a href="#" class="mostrar-menos" onclick="contraerComentario(event)">Mostrar menos</a>                  
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-6 critica">
                {% include 'cargar_critica.html' %}
            </div>
        </div>
    </div>

    <script>
        function expandirComentario(event) {
            event.preventDefault();
            var verMasLink = event.target;
            var comentario = verMasLink.previousElementSibling;
            comentario.classList.add("expandido");
            verMasLink.style.display = "none";
            verMasLink.nextElementSibling.style.display = "inline";
        }
        
        function contraerComentario(event) {
            event.preventDefault();
            var mostrarMenosLink = event.target;
            var comentario = mostrarMenosLink.previousElementSibling.previousElementSibling;
            comentario.classList.remove("expandido");
            mostrarMenosLink.style.display = "none";
            mostrarMenosLink.previousElementSibling.style.display = "inline";
        }

        document.addEventListener("DOMContentLoaded", function() {
            var comments = document.getElementsByClassName("comment");
          
            for (var i = 0; i < comments.length; i++) {
              var comment = comments[i];
              var verMasLink = comment.nextElementSibling;
              var mostrarMenosLink = verMasLink.nextElementSibling;
          
              if (comment.scrollHeight > comment.offsetHeight) {
                verMasLink.style.display = "inline";
                comment.classList.add("collapsed"); // Agregar clase "collapsed" al comentario inicialmente
                verMasLink.addEventListener("click", function() {
                  comment.classList.remove("collapsed"); // Quitar clase "collapsed" al hacer clic en "Ver más"
                });
                mostrarMenosLink.addEventListener("click", function() {
                  comment.classList.add("collapsed"); // Agregar clase "collapsed" al hacer clic en "Mostrar menos"
                });
              } else {
                verMasLink.style.display = "none";
              }
            }
          });
    </script>
{% endblock %}

