{% extends 'master.html'%}
{% load static %}

{% block content %}
    {% include 'header.html' %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 header-actores">
                <h1>Listado de actores</h1>
                <h1>Agregar opción de filtro y display: flex</h1>
            </div>
        </div>

        <div class="row listado-actores">
            {% for actor in actores %}
                <div class="col-md-4 card-actor">
                    <div class="card-actor-cover">
                        <a href="{% url 'ActorView' id_actor=actor.id %}">
                            <div class="image-wrapper">
                                <a href="{% url 'ActorView' id_actor=actor.id %}"><img src="{{ actor.foto.url }}" alt="Imagen del actor"></a>
                            </div>
                            <div class="actor-name">
                                <h2>{{ actor.nombre }}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}