{% extends 'master.html'%}
{% load static %}

{% block content %}
<style>
    body{
        font-family: poppins;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            {% for pelicula in peliculas_mejor_puntaje%}
                <div class="col">
                    <section id ="slider-container">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen">
                                <img src="{{ pelicula.foto.url }}" alt="">
                            </div>
                            <div class="tarjeta-detalles">
                                <strong>{{ pelicula.nombre }} ({{ pelicula.anio_pelicula }})</strong>
                                <div class="rating">
                                    {% for _ in pelicula.estrellas_llenas %}
                                        <a href="#"><i class="fas fa-star" style="color: yellow;"></i></a>
                                    {% endfor %}
            
                                    {% for _ in pelicula.estrellas_vacias %}
                                        <a href="#"><i class="far fa-star" style="color: grey;"></i></a>
                                    {% endfor %}
                                </div>
                                
                                <div class="tarjeta-resumen-pelicula">
                                    <p>{{ pelicula.resumen }}</p>
                                </div>
                                
                                <div class="tarjeta-botones">
                                    <a href="{% url 'PeliculaView' id=pelicula.id%}" class="trailer-btn">Ver reseña</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>     
            {% endfor %}
        </div>
    </div>
       
</div>
</body>
<!--
<script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".tarjeta"), {
        max: 25,
        speed: 400
    });
</script>
-->
{% endblock %}
