{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <title></title>
</head>
<body>
    {% block content %}

    <div class="peliculas-recomendadas contenedor">
      <H1 class="titulo" style="color:white;">SAGAS CINEMATOGRÁFICAS ACLAMADAS POR LA CRÍTICA</H1>
      <div class="contenedor-titulo-controles">
        <h3 style="color:white;">EL SEÑOR DE LOS ANILLOS</h3>
        <div class="indicadores"></div>
      </div>

      <!-- EL SEÑOR DE LOS ANILLOS -->
      <div class="contenedor-principal">
        <button role="button" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel">
          <div class="carousel">
            {% for pelicula in peliculas_primer_carousel %}
              <div class="pelicula">
                <a href="{% url 'PeliculaView' id=pelicula.id%}"><img src=" {{ pelicula.foto.url }} " alt=""></a>
              </div>
            {% endfor %}
          </div>
        </div>

        <button role="button" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
      </div>

      <div class="contenedor-titulo-controles">
        <h3 style="color:white;">STAR WARS</h3>
        <div class="indicadores"></div>
      </div>
      <!-- STAR WARS -->
      <div class="contenedor-principal">
        <button role="button" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel">
          <div class="carousel">
            {% for pelicula in peliculas_segundo_carousel %}
              <div class="pelicula">
                <a href="{% url 'PeliculaView' id=pelicula.id%}"><img src=" {{ pelicula.foto.url }} " alt=""></a>
              </div>
            {% endfor %}
          </div>
        </div>

        <button role="button" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
      </div>

      <!-- HARRY POTTER -->
      <div class="contenedor-titulo-controles">
        <h3 style="color:white;">HARRY POTTER</h3>
        <div class="indicadores"></div>
      </div>
      <div class="contenedor-principal">
        <button role="button" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
          <div class="contenedor-carousel">
            <div class="carousel">
              {% for pelicula in peliculas_tercer_carousel %}
                <div class="pelicula">
                  <a href="{% url 'PeliculaView' id=pelicula.id%}"><img src=" {{ pelicula.foto.url }} " alt=""></a>
                </div>
              {% endfor %}
            </div>
          </div>



        <button role="button" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
      </div>
    </div> 


  <script>
    const contenedoresPrincipales = document.querySelectorAll('.contenedor-principal');

      contenedoresPrincipales.forEach((contenedor) => {
      const fila = contenedor.querySelector('.contenedor-carousel');
      const peliculas = contenedor.querySelectorAll('.pelicula');

      const flechaIzquierda = contenedor.querySelector('.flecha-izquierda');
      const flechaDerecha = contenedor.querySelector('.flecha-derecha');

      flechaDerecha.addEventListener('click', () => {
        fila.scrollLeft += fila.offsetWidth;

        const indicadorActivo = contenedor.querySelector('.indicadores .activo');
        if (indicadorActivo.nextSibling) {
          indicadorActivo.nextSibling.classList.add('activo');
          indicadorActivo.classList.remove('activo');
        }
      });

      flechaIzquierda.addEventListener('click', () => {
        fila.scrollLeft -= fila.offsetWidth;

        const indicadorActivo = contenedor.querySelector('.indicadores .activo');
        if (indicadorActivo.previousSibling) {
          indicadorActivo.previousSibling.classList.add('activo');
          indicadorActivo.classList.remove('activo');
        }
      });

      peliculas.forEach((pelicula) => {
        pelicula.addEventListener('mouseenter', (e) => {
          const elemento = e.currentTarget;
          setTimeout(() => {
            peliculas.forEach((pelicula) => pelicula.classList.remove('hover'));
            elemento.classList.add('hover');
          }, 100);
        });
      });

      fila.addEventListener('mouseleave', () => {
        peliculas.forEach((pelicula) => pelicula.classList.remove('hover'));
      });
    });
  </script>


  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  {% endblock  %}
</body>
</html>